<h1>New Category</h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render 'form', category: @category, parent_category: @parent_category %>
  </div>
</div>

<%= link_to 'Back to Categories', admin_categories_path, class: "btn btn-secondary" %>